html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.imgDiv {
    background-position: center;
    background-size: cover;
}

.nextSect {
    position: relative;
}

.nextSect a {
    font-size: 4.3vw;
    font-weight: 100;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-decoration: none;
}

.subtitle {
    width: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle h2 {
    position: absolute;
    font-weight: 900;
    font-size:5vw;
    transform: rotate(-90deg);
    margin: 0;
}

/* ---------- SCROLL BUTTON ---------- */

#scrollBtn {
    background-color: #C7FF51;
    color: #031109;
    padding: 20px 30px 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 3vw;
    box-shadow: 5px 5px;
}

/* ---------- HEADER ---------- */

.headContainer {
    display: flex;
}

.headDiv {
    width: 30vw;
    background-color: #031109;
    color: #C7FF51;
    position: relative;
}

.headDiv a {
    font-size: 4.3vw;
    font-weight: 100;
    position: absolute;
    left: 20px;
    bottom: 10px;
    text-decoration: none;
    color: #C7FF51;
}

.headDiv a:visited {
    color: #C7FF51;
}

.transformDiv {
    position: absolute;
    top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    transform: rotate(-90deg);
}

.transformDiv h1 {
    font-size: 9.7vw;
    font-weight: 900;
    margin: 0;
    text-align: right;
}

.transformDiv p {
    font-size: 4.3vw;
    font-weight: 100;
    margin: 0;
    text-align: right;
}

.headImg {
    width: 70vw;
    height: 100vh;
    background-image: url('images/header1.jpg');
}

/* ---------- SECTION 1 ---------- */

#section1 {
    display: flex;
}

.image1 {
    width: 40vw;
    height: 100vh;
    background-image: url('images/section1-1.jpg');
}

.section1Container {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
}

.image2 {
    width: 60vw;
    height: 45vh;
    background-image: url('images/section1-2.jpg');
}

.introduction {
    width: 30vw;
    height: 55vh;
    color: #031109;
    background-color: #C7FF51;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction p {
    font-size: 0.9vw;
    width: 90%;
    margin: 0.5vw 0;
}

.introduction p:nth-child(1) {
    margin-top: 3vh;
}

.introduction a {
    color: #031109;
}

.image3 {
    width: 30vw;
    height: 55vh;
    background-image: url('images/section1-3.jpg');
}

/* ---------- SECTION 2 ---------- */

#section2 {
    display: flex;
}

.sec2sub {
    background-color: #520a74;
    color: #FFB951;
}

.sect2flex1 {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.image4 {
    width: 25vw;
    height: 50vh;
    background-image: url('images/section2-1.jpg');
}

.image5 {
    width: 25vw;
    height: 50vh;
    background-image: url('images/section2-2.jpg');
}

.sect2flex2 {
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.image6 {
    width: 30vw;
    height: 60vh;
    background-image: url('images/section2-3.jpg');
}

.image7 {
    width: 30vw;
    height: 40vh;
    background-image: url('images/section2-4.2.jpg');
}

.sect2flex3 {
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.image8 {
    width: 35vw;
    height: 70vh;
    background-image: url('images/section2-5.jpg');
}

.instaDiv {
    height: 30vh;
    background-color: #FFB951;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instaDiv p {
    font-size: 2vw;
    font-weight: 600;
    margin: 0;
    color: #520a74;
}

.instaDiv i {
    color: #520a74;
    font-size: 7vw;
    margin-top: 1rem;
}

.instaLink {
    position: static;
}

.scrollD {
    position: absolute;
    left: 20px;
    color: #520a74;
    font-size: 4.3vw;
    font-weight: 100;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
}

/* ---------- SECTION 3 ---------- */

#section3 {
    display: flex;
}

.sect3flex1 {
    width: 25vw;
    height: 100vh;
}

.image9 {
    width: 25vw;
    height: 70vh;
    background-image: url('images/section3-1.jpg');
    background-size: cover;
    background-size: center;
}

.image10 {
    width: 25vw;
    height: 30vh;
    background-image: url('images/section3-2.jpg');
    background-size: cover;
    background-position: center;
}

.sect3flex2 {
    width: 30vw;
    height: 100vh;
}

.sect3info {
    height: 40vh;
    color: #0a1574;
    background-color: #f93030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect3info p {
    font-size: 0.9vw;
    width: 90%;
    margin: 0.5vw 0;
}

.sect3info p:nth-child(1) {
    margin-top: 3vh;
}

.sect3info a {
    color: #0a1574;
}

.image11 {
    height: 60vh;
    background-image: url('images/section3-3.jpg');
    background-size: cover;
    background-position: bottom;
}

.sect3flex3 {
    height: 100vh;
}

.image12 {
    width: 45vw;
    height: 40vh;
    background-image: url('images/section3-4.jpg');
    background-size: cover;
    background-position: left 10%;
}

.image13 {
    width: 45vw;
    height: 60vh;
    background-image: url('images/section3-5.jpg');
    background-size: cover;
    background-position: center;
}

/* ---------- SECTION 4 ---------- */

#section4 {
    display: flex;
}

.image14 {
    width: 45vw;
    height: 100vh;
    background-image: url('images/section4-1.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}

.image14 a {
    font-size: 4.3vw;
    font-weight: 100;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-decoration: none;
    color: #0f102e;
}

.sec4sub {
    height: 100vh;
    background-color: #031109;
    color: #f93030;
}

.sec4sub h2 {
    width: 100vh;
    text-align: center;
}

.sect4flex1 {
    display: flex;
    flex-direction: column;
}

.image15 {
    width: 45vw;
    height: 50vh;
    background-image: url('images/section4-2.jpg');
    background-size: cover;
    background-position: center;
}

.image16 {
    width: 45vw;
    height: 50vh;
    background-image: url('images/section4-3.jpg');
    background-size: cover;
    background-position: center;
}

/* ---------- SECTION 5 ---------- */

#section5 {
    display: flex;
}

.sect5flex1 {
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sect5flex2 {
    width: 55vw;
    height: 65vh;
    display: flex;
}

.image17 {
    width: 27.5vw;
    height: 65vh;
    background-image: url('images/section5-1.jpg');
    background-size: cover;
    background-position: top;
}

.image18 {
    width: 27.5vw;
    height: 65vh;
    background-image: url('images/section5-2.jpg');
    background-size: cover;
    background-position: top;
}

.image19 {
    width: 55vw;
    height: 35vh;
    background-image: url('images/section5-3.jpg');
    background-size: cover;
    background-position: left 15%;
}

.image20 {
    width: 45vw;
    height: 100vh;
    background-image: url('images/section5-4.jpg');
    background-size: cover;
    background-position: top;
}

/* ------------------ MEDIA QUERIES ------------------ */

@media only screen and (max-width: 991.9px) {

    .nextSect a {
        display: none;
    }

    .subtitle {
        width: auto;
        position: static;
        word-break: break-all;
    }

    .subtitle h2 {
        position: static;
        transform: rotate(0deg);
        font-size: 20vw;
        text-align: end;
        width: 90%;
    }

    .vertical {
        width: 100vw;
        height: 150vw;
    }

    .horizontal {
        width: 100vw;
        height: 50vw;
    }

    .square {
        width: 100vw;
        height: 100vw;
    }

    /* --- Header --- */
    .headContainer {
        flex-direction: column;
        align-items: center;
    }

    .headDiv {
        width: 100vw;
        height: 50vw;
    }

    .headDiv a {
        display: none;
    }

    .transformDiv {
        transform: rotate(0deg);
        width: 95%;
        height: 95%;
        top: auto;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .transformDiv h1 {
        font-size: 15vw;
    }

    .transformDiv p {
        font-size: 6vw;
    }

    .headImg {
        width: 100vw;
        height: 150vw;
    }

    /* --- Section 1 --- */
    #section1 {
        flex-direction: column;
    }

    .section1Container {
        width: 100vw;
    }

    .introduction {
        width: 100vw;
        height: auto;
        padding: 2rem 0;
    }

    .introduction p {
        font-size: 3vw;
    }

    .introduction p:nth-child(1) {
        margin-top: auto;
    }

    /* --- Section 2 --- */
    #section2 {
        flex-direction: column;
    }

    .sect2flex1 {
        width: 100vw;
    }

    .sect2flex2 {
        width: 100vw;
        height: auto;
    }

    .image7 {
        background-image: url('images/section2-4.jpg');
    }

    .instaDiv {
        height: auto;
        padding: 2rem;
    }

    .instaDiv p {
        font-size: 5vw;
    }

    .instaDiv i {
        font-size: 20vw;
    }

    .scrollD {
        display: none;
    }

    /* --- Section 3 --- */
    #section3 {
        flex-direction: column;
        height: auto;
    }

    .sect3flex1,
    .sect3flex2,
    .sect3flex3 {
        height: auto;
    }

    .sect3info {
        width: 100vw;
        height: auto;
        padding: 2rem 0;
    }

    .sect3info p {
        font-size: 3vw;
    }

    .sect3info p:nth-child(1) {
        margin-top: auto;
    }

    /* --- Section 4 --- */
    #section4 {
        flex-direction: column;
    }

    .image14 {
        position: static;
    }

    .image14 a {
        display: none;
    }

    .sec4sub {
        height: auto;
    }

    /* --- Section 5 --- */
    #section5 {
        flex-direction: column;
    }

    .sect5flex1 {
        width: auto;
        height: auto;
    }

    .sect5flex2 {
        flex-direction: column;
        width: auto;
        height: auto;
    }
}