body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ---------- HEADER ---------- */

.headContainer {
    display: flex;
}

.headDiv {
    width: 30vw;
    background-color: #031109;
    color: #C7FF51;
    position: relative;
}

.headDiv a {
    font-size: 4.3vw;
    font-weight: 100;
    position: absolute;
    left: 20px;
    bottom: 10px;
    text-decoration: none;
    color: #C7FF51;
}

.headDiv a:visited {
    color: #C7FF51;
}

.transformDiv {
    position: absolute;
    top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    transform: rotate(-90deg);
}

.transformDiv h1 {
    font-size: 9.7vw;
    font-weight: 900;
    margin: 0;
    text-align: right;
}

.transformDiv p {
    font-size: 4.3vw;
    font-weight: 100;
    margin: 0;
    text-align: right;
}

.headImg {
    width: 70vw;
    height: 100vh;
    background-image: url('images/header1.jpg');
    background-position: center;
    background-size: cover;
}

/* ---------- MEDIA QUERIES ---------- */
/* --- HEADER --- */
@media only screen and (max-width: 992px) {
    .headContainer {
        flex-direction: column;
        align-items: center;
    }

    .headDiv {
        width: 100vw;
        height: 30vh;
    }

    .headDiv a {
        display: none;
    }

    .transformDiv {
        transform: rotate(0deg);
        width: 95%;
        height: 95%;
        top: auto;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .transformDiv h1 {
        font-size: 15vw;
    }

    .transformDiv p {
        font-size: 6vw;
    }

    .headImg {
        width: 100vw;
        height: 70vh;
    }
}